@media screen and (max-width: 768px) {  
  main {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .note-list {
    border-radius: 5px;
    height: fit-content;
  }
  
  note-list {
    height: fit-content;
    margin: 0;
    padding: 1rem;
  }
  
  .title-search {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  
  .note-card {
    font-size: small;
  }

  input[type='search'] {
    margin-top: 1rem;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .title-search {
    align-items: center;
    flex-direction: row;     
    justify-content: space-between;
    gap: 1rem;
  }

  input[type='search'] {
    margin-top: 0;
    width: 70%;              
  }
}
