/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #69247C;
  --secondary-color: #d8bbe0;
  --accent-color: #DA498D;
}

*, html, body {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  height: 70%;
  flex-grow: 1;
}

header {
  color: black;
  font-size: 1rem;
  padding: 1rem 0;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header .container {
  display: flex;                 
  align-items: center;           
}

img[role="icon"]{
  height: 100%;                  
  max-height: 2em;             
  margin-right: 10px;            
}

/* Form Styles */
.notes-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  border: 0.5px solid var(--primary-color);
  border-radius: 5px;
  background-color: ghostwhite;
}

input, textarea, button {
  font-family: 'Inter', sans-serif;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 5px;
}

textarea {
  display: flex;
  resize: none;
  overflow: auto;
  width: 100%;
}

button {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

button:hover {
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Notes List */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  align-items: stretch; 
}

.note-list {
  display: block;
  background-color: var(--secondary-color);
  border-radius: 0;
  overflow: hidden;
  padding: 1rem;
}

note-list {
  margin: 0;
  height: 85%;
  overflow: auto;
  padding: 1rem 1rem 2rem 1rem;
}

.meta {
  font-size: 10px;
  margin-top: 0.5rem;
  display: flex;
  justify-content: end;
}

.note-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: fit-content;
  min-height: 100%;
  max-height: fit-content;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--primary-color);
}

.note-card h3 {
  color: var(--primary-color);
}

.note-card p {
  display: flex;
  flex-grow: 1;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  display: none;
}

footer {
  font-size: small;
  font-weight: 500;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: whitesmoke;
  justify-items: center;
}

.title-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.title-search h2 {
  min-width: fit-content;;
}

input[type='search'] {
  border: none;
  width: 50%;
}

input[type='search']:focus-visible {
  outline: none;
}

input[type='search']:focus {
  border: 1px solid grey;
}